<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/sharp-sans" rel="stylesheet">
</head>
<body>
    <section class="header">
        <img src="images/logo.png" class="logo">
        <div class="container">
          <ul class="navList">
            <li><a href="/">Home</a></li>
            <li><a href="/quizRegister">Register</a></li>
            <li><a href="/quiz/records">Records</a></li>
            <li><a href="/Trendings">Trendings</a>/li>
          </ul>
        </section>
    </div>

    <section class="container">
    <div class="about-us">
        <h3> About Us</h3>
        <p>We are a group of dedicated students from the City of Malabon, passionate about learning and growing in the field of Information Technology. Our goal is to apply the knowledge we've gained in the classroom to real-world challenges and make a meaningful impact through our projects and collaborations.</p>
        </div>
        <div class="profile-container">
            <div class="profile-box">
                <img src="/images/rae.jpg">
                <h3>Rachelle May B. Celerio</h3>
                <div class="hidden-text">
                    <p>As a Bachelor of Science in Information Technology student at City of Malabon University, I have a strong interest in photography and graphic design.</p>
                <ul>
                    <li><strong>Full Name:</strong> Rachelle May B. Celerio</li>
                    <li><strong>Age:</strong> 21 yrs old</li>
                    <li><strong>Address:</strong> Blk 49 A Lot 31 Phase 3 E2 Longos Malabon City</li>
                    <li><strong>Contact Number:</strong> 09946082156</li>
                    <li><strong>Email:</strong> rachellecelerio19@gmail.com</li>
                </ul>
                </div>
            </div>

            <div class="profile-box">
                <img src="/images/abilatlat.jpg">
                <h3>Abigail S. Cajuban</h3>
                <div class="hidden-text">
                    <p>As a student at City of Malabon University, pursuing a Bachelor of Science in Information Technology,
                        I am interested in creating websites and continuously learning new skills 
                        to further develop my expertise in the field.</p>
                   <ul>
                       <li><strong>Full Name:</strong> Abigail S. Cajuban</li>
                       <li><strong>Age:</strong> 20 yrs old</li>
                       <li><strong>Address:</strong> Sanciangco St., Catmon Malabon City</li>
                       <li><strong>Contact Number:</strong> 09128215226</li>
                       <li><strong>Email:</strong> abigailcajuban765@gmail.com</li>
                   </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>