<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/sharp-sans" rel="stylesheet">
</head>
<body>
  <div class="header">
      <img src="images/logo.png" class="logo">
    <div class="container">
      <ul class="navList">
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/quizRegister">Register</a></li>
        <li><a href="/Trendings">Trending</a></li>
      </ul>
      <p>Explore Movies & TV Shows</p>
    </div>

<div class="header-content">
  <h1>Ultimate Quiz</h1>
  <h3>Test Your Knowledge on Movies & TV Shows</h3>
  <p>Ready to begin? Choose any difficulty you'd like and get started now!</p>
</div>
  </div>

  <footer>
    <p>&copy; 2024 QuizTheBox. All rights reserved.</p>
  </footer>