<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Movies</title>
    <link rel="stylesheet" href="/stylesheets/trending.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="video-container">
        <video autoplay muted loop class="background-video">
            <source src="/images/outside.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay"></div>
    </div>  
    <div class="navContainer">
        <img src="images/logo.png" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/quizRegister">Register</a></li>
            <li><a href="/quiz/records">Records</a></li>
            <li><a href="/Trendings">Trendings</a></li>
        </ul>
    </div>
    <h1>Trending Movies</h1>
    <div class="movie-list">
        <div class="movie">
            <img src="/images/outside1.jpg" alt="Movie Title 1">
            <h2>Outside</h2>
            <p>Genre: Psychological Horror</p>
            <p>Rating: 5.1/10</p>
            <p class="hidden-text">A family flees to an isolated farm to get away from a zombie outbreak, 
                but old secrets eventually surface and become a greater threat.</p>
        </div>
        <div class="movie">
            <img src="/images/ups.jpg" alt="Movie Title 2">
            <h2>Under Parallel Skies</h2>
            <p>Genre: Drama/Romance</p>
            <p>Rating: MyDramaList 7.4/10</p>
            <p class="hidden-text">A man struggling with a painful past tries to move forward, 
            only to discover that the woman in his present life has an uncanny connection to his past.</p>
        </div>
        <div class="movie">
            <img src="/images/dontmove.jpg" alt="Movie Title 3">
            <h2>Don't Move</h2>
            <p>Genre: Horror/Thriller</p>
            <p>Rating: 6.1/10</p>
            <p class="hidden-text">It follows a seasoned killer as he injects a grieving woman with a paralytic agent. 
            She must run, fight and hide before her body shuts down.</p>
        </div>
        <div class="movie">
            <img src="/images/lnd.jpg" alt="Movie Title 4">
            <h2>Love Next Door</h2>
            <p>Genre: Romantic Comedy</p>
            <p>Rating: MyDramaList 8.4/10</p>
            <p class="hidden-text">A woman attempting to reboot her life returns to Korea and becomes entangled with 
            her childhood friend with whom she shares a complicated history.</p>
        </div>
    </div>
    
    </body>
    </html>